{% extends "base.html" %}

{% block main %}
<h1>Secure Page</h1>
{% include 'flash_messages.html' %}

<p>What if dogs were racist? Would they care about fur color….. “son, only play with other tan dogs”? 
    Or maybe it would depend on breed, “honey, only play with other German Shepards, never poodles”. 
    Better yet it could depend on occupation. “Im a sled dog while youre only a running companion, 
    leave me alone”. Maybe the neighborhood they live in could be the way they choose which dogs to associate 
    with and which to shun? Size could be the determining factor, “see how tall that dog is, they are probably dumb”.
    Luckily dogs dont discriminate. Just watch at a dog park. Big black and white dogs wag their tails and play with 
    tiny tan dogs. A service dog chases after the same ball as the off-duty police dog. So if dogs dont discriminate 
    then why do we?</p>

{% endblock %}